aside, article, section, nav, header, footer {
    display:block;
    margin: 0;
    padding: 0;
  }
  
  html, body{
  
      padding: 0 1rem;
  margin: 1rem;
  }
  html{
      background:#FFF;
  }
  body{
      background:#ff6;
      font-family: Verdana, Geneva, sans-serif;
  }
  p, h1 ,h2, h3{
      margin:0;
      padding:0;
  }
  header{
      height:100px;
      background:#E5CBA2;
  }
  #col1{
  
      background:#AB8A6c;
      width:420px;
      float:left;
      
  }
  #col2{
  
      background:#CCB18E;
      width:420px;
      float:left;
  }
  #col3{
  
      background:#AB8A6c;
      width:420px;
      float:left;
  }
  
  h1{
      color:#8B0000;
      font-size:2.2em;
      text-align:center;
  }
  h2{
      color:#593939;
      font-size:1.8em;
      text-align:center;
  }
  h3{
      color:#8B0000;
      font-size:.8em;
      text-align:center;
  }
  p{
      padding-left:1em;
      padding-right:1em;
      padding-top:1em;
      line-height:1.4em;
  }
  table{
      text-align: center;
  }